@font-face {
    font-family: 'Spicy Rice';
    src: url(../fonts/SpicyRice-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url(../fonts/NeueMontreal-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal Bold';
    src: url(../fonts/NeueMontreal-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aura Luxess';
    src: url(../fonts/AuraLuxess-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SQUDECASTALUNIA';
    src: url(../fonts/SQUDECASTALUNIA-Regular.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tusker Grotesk';
    src: url(../fonts/TuskerGrotesk.ttf);
    font-weight: bold;
    font-style: italic;
}