/* Pour les appareils mobiles */
@media (max-width: 480px) {
  header {
    height: 80px;
  }

  .header-container {
    flex-direction: row;
  }

  .header-name {
    font-size: 0.9rem;
    text-transform: none;
  }

  .header-job {
    display: none;
  }

  .hero-date {
    top: 60px;
    right: 30px;
  }

  .hero-date-day {
    font-size: 5rem;
  }

  .hero-date-month {
    font-size: 2rem;
  }

  .hero-title-text {
    font-size: 7rem;
  }

  .hero-title-text-first > :nth-child(2) {
    font-size: 4rem;
  }

  .hero-description {
    top: 200px;
    left: 15px;
    font-size: 1.3rem;
    width: 90%;
  }
}

/* Pour iPads, tablettes */
@media (min-width: 481px) and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .header-nav {
      flex-wrap: wrap;
      justify-content: center;
  }

  .header-left {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem; /* Un peu plus d'espace entre le nom et le métier */
  }
}

/* Pour les petits écrans, laptops */
@media (max-width: 1024px) {
}

/* Pour les desktops, grands écrans */
@media (max-width: 1200px) {
  /* Styles vont ici */
}

/* Pour les écrans extra larges, TV */
@media (min-width: 1201px) {
  /* Styles vont ici */
}
