/* Pour les appareils mobiles */
@media (max-width: 480px) {
  .header-nav a {
    padding: 0.25rem; /* Padding ajusté pour les petits écrans */
    font-size: calc(var(--font-size) * 0.75); /* Réduction de la taille de la police */
  }

  .header-name,
  .header-job {
      font-size: calc(var(--font-size) * 1.25); /* Ajustement de la taille de la police */
  }

  header {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      gap: 0.5rem; /* Réduction de l'espace vertical */
  }
  }
  
  /* Pour iPads, tablettes */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      :root {
        --header-font-size: .2rem; /* Ajustement de la taille de la police */
      }
    }

    .header-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-left {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem; /* Un peu plus d'espace entre le nom et le métier */
    }
  }
  
  /* Pour les petits écrans, laptops */
  @media (max-width: 1024px) {
  }
  
  /* Pour les desktops, grands écrans */
  @media (max-width: 1200px) {
    /* Styles vont ici */
  }
  
  /* Pour les écrans extra larges, TV */
  @media (min-width: 1201px) {
    /* Styles vont ici */
  }
  